body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: #190fd9;
    background: linear-gradient(90deg, rgb(188, 230, 250) 0%,rgb(107, 166, 221), rgb(20, 136, 245) 100%);
}
header {
    text-align: center;
}
.form{
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin: 20px auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    max-width: 300px;
}
label{
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    padding: 2px;
    border-radius: 5px;
}
select{
    margin-bottom: 10px;
    padding: 2px;
    border-radius: 5px;
}
button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(83, 209, 83);
}
button:hover{
    background-color: green;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
}
#resultado{
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid;
}
.desconto{
    background-color: rgb(149, 255, 149);
}
.acrescimo{
    background-color: rgb(255, 116, 116);
}
.sem-desconto{
    background-color: rgb(255, 255, 140);
}
.display{
    display: none;
}